/*This means that all h2 and p will be the colors specified, not a specific p or h2*/
body{
	background-image: url(background.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

h1{
	text-align: center;
	border: 2px dashed purple;
	cursor: default;
}

h2{
	color: red;
}

p {
	color: #AA4139;
}

li{
	color: rgb(255,176,170);
}